body{padding: 0;
margin: 0;}
.container{
    background: gray;
    font-size:1.3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
}
header{
grid-row:1/3;
grid-column:1/5;
border:5px solid black
}
.nav{
    grid-row:3/4;
    grid-column:1/5;
    border:5px solid black;
    list-style-type: none;
    background: blue;
}

li{
    
display: inline-flex;
    margin: 10px;
}
article{
    grid-row:4/8;
    grid-column:1/4;
    border:5px solid black;
}
p{
    font-size: 1rem;
}
aside{
    grid-row:4/8;
border:5px solid black;
grid-column:4/5;
}
footer{
    grid-row:8/9;
grid-column:1/5;
border:5px solid black

}